#myTooltip{
    background-color: #FFFFFF;
    border: 2px solid #003E6F;
}
#myTooltip .hd{
    background-color: #616161;
    color: #FFFFFF;
}
#myTooltip.bd{

}
#myTooltip.ft{

}
#myTooltip.hd{

}
#myTooltip.hd{

}